<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
       

          <style>
            #customers {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                width: 100%;
            }

            #customers td, #customers th {
                border: 2px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even){background-color: #f2f2f2;}

            #customers tr:hover {background-color: #ddd;}

            #customers th {
                padding: 12px;
                text-align: center;
                background-color: #4CAF50;
                color: white;
            }
        </style>

</head>
<title>Echallan</title>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">E Challan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto  justify-content-end">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="pay.html">Pay</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="penalties.html">Penalties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="analytics.html">Analytics</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


</head>
<body>
<center>  
    <br><br>
    <h3>Penalties</h3>
    <br>
    <table border="1px" id="penalties"></table>
</center>

<script type="text/javascript">
       $.ajax({
            url: 'show_penalties.php',
            type: 'GET',
            error: (function(data){
                console.log(data);
                }),
            success: (function(data){
                console.log(data);
                })
        }).done(function(response){
            console.log("in done")
            var data = JSON.parse(response);
            console.log(data.length)

            $('#penalties').empty();
            $('#penalties').append(
                '<tr>'+
                    '<th>Sr. No.</th>'+
                    '<th>Penalty</th>'+
                    '<th>Fine</th>'+
                    '<th>Sentence</th>'+
                '</tr>'
            );
            for(i=0;i<data.length;i++){
                $('#penalties').append(
                    '<tr>'+
                        '<td>'+(i+1)+'</td>'+
                        '<td>'+data[i].penalty+'</td>'+
                        '<td>'+data[i].fine+'</td>'+
                        '<td>'+data[i].sentence+'</td>'+
                    '</tr>'
                );
            }
        });    


</script>



<!-- 
    <br>
    <table id="customers";>
    <tr>
    <td style="text-align: center;" colspan="4";>
    <strong>OFFENCES</strong>
    </td>
    </tr>

    <br>
      
    <tr>
    <td>
    <strong>SL No.</strong>
    </td>
    <td>
    <strong>Offences</strong>
    </td>
    <td>
    <strong>Penalty/ Sentence</strong>
    </td>
    <td>
    <strong>Section</strong>
    </td>
    </tr>
    <tr>
    <td>
    1
    </td>
    <td>
    Driving without carrying a Valid Driving License.
    </td>
    <td>
    INR 5000** and/ or imprisonment for up to 3 months
    </td>
    <td>
    3 r/w 181 Motor Vehicle Act
    </td>
    </tr>
    <tr>
    <td>
    2
    </td>
    <td>
    Driving by a minor (aged below 18). 
    </td>
    <td>
    INR 500 
    </td>
    <td>
    4 r/w 181 Motor Vehicle Act 
    </td>
    </tr>
    <tr>
    <td>
    3
    </td>
    <td>
    Reversing without due caution and care. 
    </td>
    <td>
    INR 100 
    </td>
    <td>
    17 (i) RRR 177 Motor Vehicle Act 
    </td>
    </tr>
    <tr>
    <td>
    4
    </td>
    <td>
    Use of Offensive Number Plate for vehicle used in driving. 
    </td>
    <td>
    INR 100 
    </td>
    <td>
    CMVR 105 (2) (ii) 
    </td>
    </tr>
    <tr>
    <td>
    5
    </td>
    <td>
    Driving without a Valid Permit.
    </td>
    <td>
    Up to INR 5000 and no less than INR 2000
    </td>
    <td>
    130 r/w 177  Motor Vehicle Act
    </td>
    </tr>
    <tr>
    <td>
    6
    </td>
    <td>
    Improper usage of horn when you drive. 
    </td>
    <td>
    INR 100 
    </td>
    <td>
    CMVR 105 (2) (ii) 
    </td>
    </tr>
    <tr>
    <td>
    7
    </td>
    <td>
    Not complying with the manual Traffic Signal. 
    </td>
    <td>
    INR 100 
    </td>
    <td>
    177 Motor Vehicle Act 
    </td>
    </tr>
    </table> -->


</body>

</html>